.stick {
    background-color: black;
    height: 150px;
    width: 15px;
    margin: auto;
    margin-top: 8px;
}
.box {
    background-color:black;
    height: 375px;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.light {
    flex: 1;
    width: 125px;
    border-radius: 55%;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.on {
    box-shadow: 0 0 30px 30px rgba(230, 220, 173, 0.7)
}
